*{
	padding:0px;
	margin:0px;
}

body{
	background:url(images/bg.png);
	}

img{
	border:none;
}
	
/*----- font ----- */

@font-face {
    font-family: "Code Bold";
    src: url(fonts/code_bold.otf) format("opentype");
}

h1.create-account { 
    font-family: "Code Bold";
	font-size: 40px;
	color:#151515;
}

@font-face {
    font-family: "Corbel";
    src: url(fonts/corbel.ttf) format("truetype");
}

h4.create-account-text { 
    font-family: "Corbel";
	font-size: 20px;
	color:#151515;
	line-height: 20px;
}

@import url(http://fonts.googleapis.com/css?family=Montserrat+Alternates:700);

h3{
	font-family:Candara;
	font-size:35px;
	color:#151515;
	font-weight:normal;
	text-shadow:0px 0px 5px #909090;
	 -moz-text-shadow:0px 0px 5px #909090;
	-webkit-text-shadow:0px 0px 5px #909090;
	-o-text-shadow:0px 0px 5px #909090;
	-ms-text-shadow:0px 0px 5px #909090;
}

#warpper{
	height:100%;
	width:100%;
}

#header{
	background:#033770;
	width:100%;
	height:4.5em;
	box-shadow: 0 0 50px 10px #B4B4B4;
	 -moz-box-shadow: 0 0 50px 10px #B4B4B4;
	 -webkit-box-shadow: 0 0 50px 10px #B4B4B4;
	-o-box-shadow: 0 0 50px 10px #B4B4B4;
	-ms-box-shadow: 0 0 50px 10px #B4B4B4;
}

#header #logo{
	float:left;
	margin-left:5%;
	position:absolute;
}

#header #nav{
	float: right;
    margin-right: 120px;
    margin-top: 25px;
    text-align: right;
    width: 50%;
}

#header #nav ul li{
	border-right: 1px solid #FFFFFF;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 20%;
}

#header #nav ul li a:link,a:visited,a:active{
	color: #FFFFFF;
	font-family: "Corbel";
	font-size: 20px;
	text-decoration:none;
}

#header #nav ul li a:hover{
	text-decoration:underline;
}

/*----- content ----*/

#content{
	float: left;
    margin: 11% auto;
    width: 100%;
	min-height:400px;
}

#content #heading-text{
	margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 400px;
}
#content #signin-btn{
	margin-left:auto;
	margin-right:auto;
	width: 432px;
}

#content .big-btn{
	width:200px;
	height:150px;
	margin:8px;
	float:left;
	cursor:pointer;
}

.btn-text{
	margin-left:auto;
	margin-right:auto;
	text-align:center;

}

.expert-text{
	width:100px;
	margin-top: 3.5em;
}

.prm-text{
	width:150px;
	margin-top:3em;
}

.advertiser-text{
	width:125px;
	margin-top: 3.5em;
}

.media-text{
	width:125px;
	margin-top: 3.5em;
}

.btn-text a{
	text-decoration:none;
	font-family: 'Montserrat Alternates', sans-serif;
	font-weight:bold;
	font-size:1.3em;
	line-height:20px;
	text-shadow:0px 0px 10px #504f4f;
	color:#FFF;
}

/*#content #expert a{
	padding: 4em 3em ;
	margin:8px;
	float:left;
	border-radius: 10px 0;
	background:#ca1311;
	-moz-box-shadow:    inset 0 0 50px 10px #950b09;
   -webkit-box-shadow: inset 0 0 50px 10px #950b09;
   box-shadow:         inset 0 0 50px 10px #950b09;
}

#content #prm a{
	padding: 4em 3em ;
	margin:8px;
	float:left;
	border-radius: 10px 0;
	background:#ca1311;
	-moz-box-shadow:    inset 0 0 50px 10px #950b09;
   -webkit-box-shadow: inset 0 0 50px 10px #950b09;
   box-shadow:         inset 0 0 50px 10px #950b09;
}

#content #advertiser a{
	padding: 4em 3em ;
	margin:8px;
	float:left;
	border-radius: 10px 0;
	background:#ca1311;
	-moz-box-shadow:    inset 0 0 50px 10px #950b09;
   -webkit-box-shadow: inset 0 0 50px 10px #950b09;
   box-shadow:         inset 0 0 50px 10px #950b09;
}

#content #media a{
	padding: 4em 3em ;
	margin:8px;
	float:left;
	border-radius: 10px 0;
	background:#ca1311;
	-moz-box-shadow:    inset 0 0 50px 10px #950b09;
   -webkit-box-shadow: inset 0 0 50px 10px #950b09;
   box-shadow:         inset 0 0 50px 10px #950b09;
}*/

#expert {
   border-radius: 10px 0;
    -moz-border-radius: 10px 0;
    -webkit-border-radius: 10px 0px 10px 0px;
   -o-border-radius: 10px 0;
   -ms-border-radius: 10px;
	background:#ca1311;
   box-shadow: inset 0 0 50px 10px #950b09;
   -moz-box-shadow: inset 0 0 50px 10px #950b09;
   -webkit-box-shadow: inset 0 0 50px 10px #950b09;
   -o-box-shadow: inset 0 0 50px 10px #950b09;
   -ms-box-shadow: inset 0 0 50px 10px #950b09;  
   display: block;
   -moz-transition: box-shadow .75s ease;
   transition: box-shadow .75s ease;
   -moz-transition: background .75s ease;
   transition: background .75s ease;

}

#expert:hover{
   box-shadow: inset 0 0 40px 10px #950b09; 
   -moz-box-shadow:    inset 0 0 40px 10px #950b09;
   -webkit-box-shadow:    inset 0 0 40px 10px #950b09;
   -o-box-shadow:    inset 0 0 40px 10px #950b09;
   -ms-box-shadow:    inset 0 0 40px 10px #950b09;
   background:#dc2322;
   
}

#prm {
	   background:#AA46CA;
      display: block;
      border-radius: 0 10px;
	 -moz-border-radius: 0 10px;
	 -webkit-border-radius: 0px 10px 0px 10px;
	-o-border-radius: 0 10px;
	-ms-border-radius: 0 10px;	
   box-shadow: inset 0 0 50px 10px #782993;
   -moz-box-shadow: inset 0 0 50px 10px #782993;
   -webkit-box-shadow: inset 0 0 50px 10px #782993;
   -o-box-shadow: inset 0 0 50px 10px #782993;
   -ms-box-shadow: inset 0 0 50px 10px #782993;
   transition: box-shadow .75s ease;
   -moz-transition: box-shadow .75s ease;
   -webkit-transition: box-shadow .75s ease;
   -o-transition: box-shadow .75s ease;
   -ms-transition: box-shadow .75s ease;
   transition: background .75s ease;
   -moz-transition: background .75s ease;
   -webkit-transition: background .75s ease;
   -o-transition: background .75s ease;
   -ms-transition: background .75s ease;
      
   
}

#prm:hover{
   box-shadow: inset 0 0 40px 10px #782993;
   -moz-box-shadow: inset 0 0 40px 10px #782993;
   -webkit-box-shadow: inset 0 0 40px 10px #782993;
   -o-box-shadow: inset 0 0 40px 10px #782993;
   -ms-box-shadow: inset 0 0 40px 10px #782993; 
   background:#b85bd6;
   
}

#advertiser {
	border-radius: 0 10px;
     -moz-border-radius: 0 10px;
	 -webkit-border-radius: 0 10px;
	-o-border-radius: 0 10px;
	-ms-border-radius: 0 10px;
   box-shadow: inset 0 0 50px 10px #4d9008;
   -moz-box-shadow: inset 0 0 50px 10px #4d9008;
   -webkit-box-shadow: inset 0 0 50px 10px #4d9008;
   -o-box-shadow: inset 0 0 50px 10px #4d9008;
   -ms-box-shadow: inset 0 0 50px 10px #4d9008;
   background:#6DC910;
    display: block;
   transition: box-shadow .75s ease;
   -moz-transition: box-shadow .75s ease;
   -webkit-transition: box-shadow .75s ease;
   -o-transition: box-shadow .75s ease;
   -ms-transition: box-shadow .75s ease;
   transition: background .75s ease;
   -moz-transition: background .75s ease;
   -webkit-transition: background .75s ease;
   -o-transition: background .75s ease;
   -ms-transition: background .75s ease;
}

#advertiser:hover{
   box-shadow: inset 0 0 40px 10px #4d9008; 
   -moz-box-shadow:    inset 0 0 40px 10px #4d9008;
   -webkit-box-shadow:    inset 0 0 40px 10px #4d9008;
   -o-box-shadow:    inset 0 0 40px 10px #4d9008;
   -ms-box-shadow:    inset 0 0 40px 10px #4d9008;
   background:#74e005;
}

#media {
    border-radius: 10px 0;
	 -moz-border-radius: 10px 0;
	 -webkit-border-radius: 10px 0;
	-o-border-radius: 10px 0;
	-ms-border-radius: 10px 0;
   box-shadow: inset 0 0 50px 10px #b06a02;
   -moz-box-shadow: inset 0 0 50px 10px #b06a02;
   -webkit-box-shadow: inset 0 0 50px 10px #b06a02;
   -o-box-shadow: inset 0 0 50px 10px #b06a02;
   -ms-box-shadow: inset 0 0 50px 10px #b06a02;
   background:#DF8701;
    display: block;
   transition: box-shadow .75s ease;
   -moz-transition: box-shadow .75s ease;
   -webkit-transition: box-shadow .75s ease;
   -o-transition: box-shadow .75s ease;
   -ms-transition: box-shadow .75s ease;
   transition: background .75s ease;
   -moz-transition: background .75s ease;
   -webkit-transition: background .75s ease;
   -o-transition: background .75s ease;
   -ms-transition: background .75s ease;
}

#media:hover{
   box-shadow:         inset 0 0 40px 10px #b06a02;
   -moz-box-shadow:    inset 0 0 40px 10px #b06a02;
   -webkit-box-shadow:    inset 0 0 40px 10px #b06a02;
   -o-box-shadow:    inset 0 0 40px 10px #b06a02;
   -ms-box-shadow:    inset 0 0 40px 10px #b06a02; 
   background:#f6a121;
}

/*-------------footer---------*/

#footer{
	background:#0d0d0d;
	width:100%;
	height:3.5em;
	clear:both;
	box-shadow: 0 0 50px 10px #B4B4B4;
	 -moz-box-shadow: 0 0 50px 10px #B4B4B4;
	 -webkit-box-shadow: 0 0 50px 10px #B4B4B4;
	-o-box-shadow: 0 0 50px 10px #B4B4B4;
	-ms-box-shadow: 0 0 50px 10px #B4B4B4;
}

#footer #copyright{
	color: #FFFFFF;
    font-family: 'Arial';
    font-size: 14px;
    margin-left: 110px;
    padding-top: 1.5em;
}

#footer #social-icons{
	float:right;
	margin-right:82px;
	margin-top: -25px;
}

 /* --- Social Network Icons --- */
 
 #sn_icons{
	 color:#333;
 }
 
 #sn_icons li{
	 display:block;
	 float:left;
 }
 
 #sn_icons li a.facebook{
	 display: block;
	width: 33px;
	height: 32px;
	text-indent: -99999px;
	 background:url("images/facebook.png") bottom;
	
	
 }
 
  #sn_icons li a.facebook:hover{
	 background-position: 0 0;
	 opacity: 1;
 }
 
 #sn_icons li a.twitter{
	 background:url("images/twitter.png") bottom;
	display: block;
	width: 33px;
	height: 32px;
	text-indent: -99999px;
 }
 
  #sn_icons li a.twitter:hover{
	 background-position: 0 0;
	 opacity: 1;
 }
 
  #sn_icons li a.linkedin{
	 background:url("images/linkedin.png") bottom;
	 display: block;
	width: 33px;
	height: 32px;
	text-indent: -99999px;
 }
 
  #sn_icons li a.linkedin:hover{
	background-position: 0 0;
	 opacity: 1;
 }
 
 #sn_icons li a.google{
	 background:url("images/google.png") bottom;
	 display: block;
	width: 33px;
	height: 32px;
	text-indent: -99999px;
 }
 
  #sn_icons li a.google:hover{
	 background-position: 0 0;
	 opacity: 1;
 }
 
 #sn_icons li a.youtube{
	 background:url("images/youtube.png") bottom;
	  display: block;
	width: 33px;
	height: 32px;
	text-indent: -99999px;
 }
 
  #sn_icons li a.youtube:hover{
	  background-position: 0 0;
	 opacity: 1;
 }
 
  #sn_icons li a.feed{
	 background:url("images/feed.png") bottom;
	 display: block;
	width: 33px;
	height: 32px;
	text-indent: -99999px;
 }
 
  #sn_icons li a.feed:hover{
	 background-position: 0 0;
	 opacity: 1;
 }
 
 
 /*------- form ---------- */
 
 .error{ 
    color: red;
    float: left;
    font-family: arial;
    font-size: 12px;
    margin-left: 10px;
    text-align: left;
    width: 160px;
	display:none;
 }
 
 #form-warrper{
	 width:430px;
	 margin-left: auto;
     margin-right: auto;
     text-align: center;
	 min-height: 400px;
 }
 
  #form-warrper .form-head{
	 text-align:left;
	 margin-bottom: 15px;
	 float:left;
	 margin-top:20px;
 }
  #form-warrper .form-head a{
	  font-family:Arial, Helvetica, sans-serif;
	  text-decoration:none;
	 text-align:left;
	 margin-bottom: 15px;
	 float:left;
	 margin-top:20px;
	 color:#00F;
 }
 #form-warrper .form-head a:hover{
	  font-family:Arial, Helvetica, sans-serif;
	  text-decoration:underline;	 
	 text-align:left;
	 margin-bottom: 15px;
	 float:left;
	 margin-top:20px;
 }
 

 
 
 #form-warrper .two-col{
	 float: left;
    margin: 8px 0;
	width:100%;
 }
 
 #form-warrper .col-one{
	 float: left;
    text-align: left;
    width: 160px;
	
 }
 
 #form-warrper .col-two{
	 float:left;
 }
 
 #form-warrper input[type='text']{
	 border: 1px solid #CCCCCC;
    color: #151515;
    font-family: 'Arial';
    font-size: 15px;
    height: 30px;
    padding-left: 5px;
    width: 250px;
 }
 
 #form-warrper input[type="file"] {
    color: #151515;
    font-family: 'Arial';
    font-size: 15px;
    height: 30px;
    padding-left: 5px;
    width: 150px;
}
 
 #form-warrper input[type='password']{
	 border: 1px solid #CCCCCC;
    color: #151515;
    font-family: 'Arial';
    font-size: 15px;
    height: 30px;
    padding-left: 5px;
    width: 250px;
 }
 
  #form-warrper input:hover, textarea:hover, select:hover{
	  border: 1px solid #93c6fd; 
	  
  }
  
   #form-warrper input:focus, textarea:focus, select:focus{
	  
	  box-shadow: 0 0 5px 1px #badbfe;
	  -moz-box-shadow: 0 0 5px 1px #badbfe;
	  -webkit-shadow: 0 0 5px 1px #badbfe;
	  -o-box-shadow: 0 0 5px 1px #badbfe;
	  -ms-box-shadow: 0 0 5px 1px #badbfe;
	  border: 1px solid #93c6fd;
  }
  
 
 #form-warrper textarea{
	 width:255px;
	 height:50px;
	 border: 1px solid #CCCCCC;
 }

 input[type='submit']:hover{
	 border:1px solid #4b74c2;
 background: rgb(110,144,201) !important; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzZlOTBjOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzODViYzQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+) !important;
background: -moz-linear-gradient(top,  rgba(110,144,201,1) 0%, rgba(56,91,196,1) 100%) !important; /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(110,144,201,1)), color-stop(100%,rgba(56,91,196,1))) !important; /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(110,144,201,1) 0%,rgba(56,91,196,1) 100%) !important; /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(110,144,201,1) 0%,rgba(56,91,196,1) 100%) !important; /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(110,144,201,1) 0%,rgba(56,91,196,1) 100%) !important; /* IE10+ */
background: linear-gradient(to bottom,  rgba(110,144,201,1) 0%,rgba(56,91,196,1) 100%) !important; /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6e90c9', endColorstr='#385bc4',GradientType=0 ) !important; /* IE6-8 */

 }
 #form-warrper select{
	 width:256px;
	 height:30px;
	 padding: 5px;
	 border: 1px solid #CCCCCC;
	 font-size:12px;
	 font-style:italic;
	 color:#999;
 }
 
 #form-warrper label{
	 font-size: 20px;
	 font-family:'Calibri';
	 color:#151515;
 }
 
 #form-warrper input[type='submit']{
	 color:#FFF;
	 border:1px solid #204387;
	 padding: 7px 35px;
	 border-radius: 5px;
	  -moz-border-radius: 5px;
	 -webkit-border-radius: 5px;
	 -o-border-radius: 5px;
     -ms-border-radius: 5px;
	 font-weight:bold;
	 background: rgb(92,125,184); /* Old browsers */
background: rgb(92,125,184); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzVjN2RiOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyZTU1YTIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(92,125,184,1) 0%, rgba(46,85,162,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(92,125,184,1)), color-stop(100%,rgba(46,85,162,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(92,125,184,1) 0%,rgba(46,85,162,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(92,125,184,1) 0%,rgba(46,85,162,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(92,125,184,1) 0%,rgba(46,85,162,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(92,125,184,1) 0%,rgba(46,85,162,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c7db8', endColorstr='#2e55a2',GradientType=0 ); /* IE6-8 */


 }
 #form-warrper a{
	width: 430px;
	 clear:both;
 } 
 #form-warrper .three-col{
	width: 430px;
	 clear:both;
 }
 
 #form-warrper .three-col-col{
	 width:31%;
	 float:left;
	 margin-right:2%;
	 text-align:left;
	 margin-bottom: 5px;
 }
 
 .three-col label{
	  font-size:14px !important;
  }
  
  .three-col input[type='checkbox']{
	  border: 1px solid #CCCCCC;
  }
  
  .submit-btn{
	  width: 700px;
	  clear:both;
	  padding-top: 30px;
  }
  
  .rember-me{
	  font-size: 16px;
    width: 439px;
	  clear:both;
	  color: #151515;
    font-family: 'Calibri';
  }
  
  .submit-btn a{
    font-family: arial;
    font-size: 12px;
    font-style: italic;
    margin-left: 10px;
	text-decoration:none;
	color:#151515;
  }
  
  .submit-btn a:hover{
	  text-decoration:underline;
  }
  
  .error-report{
font-family:Arial, Helvetica, sans-serif;
padding: 0 10px;
	  border: 1px solid #fca7a7;
	  float: left;
     margin-bottom: 15px;
     margin-top: 20px;
     text-align: left;
	 width:100%;
	 min-height:70px;
	  border-radius: 5px;
	  -moz-border-radius: 5px;
	 -webkit-border-radius: 5px;
	 -o-border-radius: 5px;
     -ms-border-radius: 5px;
	 box-shadow:1px 2px 5px #909090;
	 -moz-box-shadow:1px 2px 5px #909090;
	-webkit-box-shadow:1px 2px 5px #909090;
	-o-box-shadow:1px 2px 5px #909090;
	-ms-box-shadow:1px 2px 5px #909090;
	background: rgb(255,227,223); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZTNkZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmM1YmQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(255,227,223,1) 0%, rgba(255,197,189,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,227,223,1)), color-stop(100%,rgba(255,197,189,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,227,223,1) 0%,rgba(255,197,189,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,227,223,1) 0%,rgba(255,197,189,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,227,223,1) 0%,rgba(255,197,189,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,227,223,1) 0%,rgba(255,197,189,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe3df', endColorstr='#ffc5bd',GradientType=0 ); /* IE6-8 */

  }

/********* DASHBOaRD **************/

#dashboard-warrper{
	width:100%;
	width:500px;
	margin-left:auto;
	margin-right:auto;
}

#dashboard-warrper .three-col-row{
	width: 100%;
	float: left;
}


#dashboard-warrper .three-col-row .three-col{
	width:150px;
	float:left;
	margin-right:10px;
	margin-top:10px;
	text-align:center;
	height:165px;
	padding-top:10px;
}

#dashboard-warrper .three-col-row .three-col a{
	width:150px;
	float:left;
	margin-right:10px;
	margin-top:10px;
	text-align:center;
	height:165px;
	padding-top:10px;
}

#dashboard-warrper .three-col-row .three-col:hover{
	background:#f5f5f5;
	border:1px solid #e0e0e0;
	border-radius:5px;
	box-shadow: 0 0 50px 10px #e3e3e4 inset;
	-moz-box-shadow: 0 0 50px 10px #e3e3e4 inset;
	-webkit-box-shadow: 0 0 50px 10px #e3e3e4 inset;
	-o-box-shadow: 0 0 50px 10px #e3e3e4 inset;
	-ms-box-shadow: 0 0 50px 10px #e3e3e4 inset;
}


#dashboard-warrper a {
	color:#00F;
	text-decoration:none;
  font-family: 'Montserrat Alternates',sans-serif;
  font-size:16px;
}
#dashboard-warrper a :hover{
	text-decoration:underline;
	color:#00F;
	
  font-family: 'Montserrat Alternates',sans-serif;
  font-size:16px;
}
#dashboard-warrper a .dashboard-text{
  font-family: 'Montserrat Alternates',sans-serif;
  font-size:16px;
}










/************  Profile page ************/

#profile-warrper{
	width:100%;
    width: 600px;
	margin-left:auto;
	margin-right:auto;
}

#profile-warrper h3{
	color:#fff;
	font-size:20px;
	font-family:'Arial';


	float: left;







}

#profile-warrper .profile-blue-box{
	width:100%;
	padding: 20px 20px 30px;
	border-radius:3px 3px 0px 0px;
	background: linear-gradient(to bottom, #3979B7 0%, #2F649A 100%) repeat scroll 0 0 transparent;
	float:left;
}

#profile-warrper .profile-blue-first{
	width:100%;
	float: left;
    margin-bottom: 20px;
}

.profile-blue-heading{
	float:left;
}

.profile-blue-close-btn{
	float:right;
	color:#fff;
	font-size:18px;
	font-family: "Corbel";
	font-weight:800;
	cursor:pointer;
	margin-top: -10px;
	padding: 2px 7px 7px;
	line-height: 12px;
}

.profile-blue-close-btn:hover{
	border:1px solid #264FA0;
 background: #92A7CF;
}

.profile-blue-second{
	width:90%;
	float:left;
	background:#fff;
	border-radius:3px;
	padding: 10px;
}
.profile-blue-second-btn{
	background:#CCC;
	border-radius:3px;
	padding:5px 8px;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	margin: 4px;
	background: linear-gradient(to bottom, #EEEEEE 0%, #E6E6E6 100%) repeat scroll 0 0 transparent;
}
.profile-blue-second-btn-close{
	padding-left:5px;
	cursor:pointer;
	font-size:11px;
	font-family: "Corbel";
	font-weight:500;
}
.profile-blue-second-btn-close:hover{
	color:red;
}
.profile-blue-second-input{
	background:none;
	padding:4px;
	float:left;
}

.profile-blue-second-input input[type='text']{
	border: medium none;
    color: gray;
    width: 200px;
}

.profile-blue-third{
	margin-top: 15px;
	float:left;
	 width: 94%;
}

.profile-blue-third .blue-box-endorse-btn input[type='button']{
	background: linear-gradient(to bottom, #F6E212 0%, #F8C80E 100%) repeat scroll 0 0 transparent;
	border:1px solid #E9AD1B;
	border-radius: 3px;
    padding: 6px 15px;
	cursor:pointer;
}

.profile-blue-third .blue-box-endorse-btn input[type='button']:hover{
	background: linear-gradient(to bottom, #faeb4c 0%, #fbd12e 100%) repeat scroll 0 0 transparent;
}

.profile-blue-third .blue-box-skip-btn input[type='button']{
	background: linear-gradient(to bottom, #EDEDED 0%, #D1D1D1 100%) repeat scroll 0 0 transparent;
	border:1px solid #A7A7A7;
	border-radius: 3px;
    padding: 6px 15px;
	cursor:pointer;
}

.profile-blue-third .blue-box-skip-btn input[type='button']:hover{
	background: linear-gradient(to bottom, #f9f9f9 0%, #dfdfdf 100%) repeat scroll 0 0 transparent;
}

.profile-blue-third .blue-box-what-is-this{
	float:right;
}

.profile-blue-third .blue-box-what-is-this a{
	color: #FFFFFF;
    font-family: "Corbel";
    font-size: 14px;
    text-decoration: none;
}
.profile-blue-third .blue-box-what-is-this a:hover{
	text-decoration:underline;
}

/******* second white box ********/

.profile-second-white-box{
	width:100%;
	border:1px solid #D2D2D2;
	background:#fff;
	float:left;
	padding: 20px 19px 30px;
	margin-top:20px;
}

.profile-second-white-box .profile-photo{
	width:200px;
	background:url(../images/profile_pic_bg.png) no-repeat;
	height:200px;
	padding-right:20px;
	float:left;
}

.profile-second-white-box .profile-name{
	width:300px;
	float:left;
}

.profile-second-white-box .profile-cost{
	width:65px;
	float:right;
}

.profile-second-white-box .privious-heading{
	float: left;
    width: 70px;

}

.profile-second-white-box .privious-job-detial{
	float: left;
    width: 220px;
}

.profile-second-white-box .profile-company-address{
	float:left;
	margin-bottom:10px;
}

.profile-second-white-box h2{
	color:#151515;
	font-family:"Corbel";
	font-size: 30px;
}

.profile-second-white-box h4{
	color:#222222;
	font-family:'Arial';
	font-size: 15px;
}

.profile-second-white-box p{
	color:#323232;
	font-family:'Arial';
	font-size: 13px;
}

.profile-second-white-box p.job-heading{
	font-size:11px;
	color:#999B9A;	
}

.profile-second-white-box p.job-detail{
	font-size:12px;	
}

.profile-second-white-box .privious-job{
	float: left;
    margin-top: 5px;
}

.profile-second-white-box .cost-price{
	color: #323232;
    font-family: 'Arial';
    font-size: 16px;
    font-weight: 600;
	background: linear-gradient(to bottom, #EEEEEE 0%, #E6E6E6 100%) repeat scroll 0 0 transparent;
	padding:8px;
	border-radius:2px;
}

.profile-second-white-box .send-message{
	float:left;

	margin-top:20px;

	margin-top:144px;



	margin-top:20px;
	margin-top:20px;


}

.profile-second-white-box .send-message-btn input[type="button"] {
    background: linear-gradient(to bottom, #5C7DB8 0%, #2E55A2 100%) repeat scroll 0 0 transparent;
    border: 1px solid #204387;
    border-radius: 3px 3px 3px 3px;
    cursor: pointer;
    padding: 8px 15px;
	color:#fff;
	font-weight: bold;
}

.profile-second-white-box .send-message-btn input[type="button"]:hover{
	border:1px solid #4b74c2;
 background: rgb(110,144,201) !important; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzZlOTBjOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzODViYzQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+) !important;
background: -moz-linear-gradient(top,  rgba(110,144,201,1) 0%, rgba(56,91,196,1) 100%) !important; /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(110,144,201,1)), color-stop(100%,rgba(56,91,196,1))) !important; /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(110,144,201,1) 0%,rgba(56,91,196,1) 100%) !important; /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(110,144,201,1) 0%,rgba(56,91,196,1) 100%) !important; /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(110,144,201,1) 0%,rgba(56,91,196,1) 100%) !important; /* IE10+ */
background: linear-gradient(to bottom,  rgba(110,144,201,1) 0%,rgba(56,91,196,1) 100%) !important; /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6e90c9', endColorstr='#385bc4',GradientType=0 ) !important; /* IE6-8 */
	
}

/* ----- third white box ----*/

.profile-third-white-box{
	width:100%;
	border:1px solid #D2D2D2;
	background:#fff;
	float:left;
	padding: 20px 19px 30px;
	margin-top:20px;
}
.profile-third-white-box .profile-background{
	position:relative;
	top:-20px;
	left:-19px;
	background:#333333;
	padding:12px 35px;
	float:left;
	color:#fff;
	font-family: "Corbel";
}

.profile-third-white-box .profile-third-box-detail{
	width:100%;
	text-align:left;
	float:left;
	border-bottom:1px solid #CCC;
	margin-top:10px;
	padding-bottom: 20px;
	padding-bottom: 20px;
}
.profile-third-white-box .profile-third-box-detail h3.background-heading{
	color: #323232 !important;
	font-family:'Arial' !important;
	font-size:24px !important;
	text-shadow:none !important;
}

.profile-third-white-box .profile-third-box-detail .education-detail{
	text-align:left;
	float:left;
	margin-top:15px;

	clear: both;







}
.profile-third-white-box .profile-third-box-detail .education-detail h4{
    color: #222222;
    font-family: 'Arial';
    font-size: 15px;
}

.profile-third-white-box .profile-third-box-detail .education-detail p.degree-detail{
    color: #323232;
    font-family: 'Arial';
    font-size: 14px;
	margin-top: 3px;
}

.profile-third-white-box .profile-third-box-detail .education-detail p.degree-year{
	color: #999B9A;
    font-family: 'Arial';
    font-size: 14px;
	margin-top: 2px;
}

.profile-third-white-box .profile-third-box-detail .education-detail p.degree-decribtion{
    color: #323232;
    font-family: 'Arial';
    font-size: 14px;
	margin-top: 10px;
}

/*********** Apply Form *************/

p.upfront-payment{
	font-size:12px;
	font-family:'Arial';
	 margin-top: 5px;
}




.paid-to-you{
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    padding: 10px;
    width: 230px;
	border-bottom:none;
	float: right;
    margin-right: 18px;	
}
.paid-to-you .paid-to-you-right-col{
	float:right;
}

.paid-to-you .paid-to-you-left-col{
    color: #151515;
    font-family: 'Calibri';
    font-size: 15px;
    line-height: 29px;	
}

.paid-to-you .paid-to-you-left-col-one{
    color: #151515;
    font-family: 'Calibri';
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;	
}

.paid-to-you span.client-payment{
	color: #151515;
    font-family: 'Calibri';
    font-size: 16px;
    font-weight: bold;
    line-height: 29px;
}

/********** list of jobs ***********/

.search-bar-box{
	border-bottom: 1px solid #033770;
    float: left;
    margin-bottom: 20px;
    padding-bottom: 20px;
    width: 100%;
	
}

.search-bar-box .search-title{
	padding:2px;
	float:left;
	margin-right:5px;
	color: #FFFFFF;
    font-family: 'Arial';
    font-size: 20px;
}

.search-bar-box .search-bar{
	float:left;
	margin-right:5px;
	background:#0F0;
}

.search-bar-box .search-bar input[type='text']{
	 border: 1px solid #CCCCCC;
    color: #151515;
    font-family: 'Arial';
    font-size: 15px;
    height: 30px;
    padding-left: 5px;
    width: 385px;
 }
 
 .search-bar-box .search-btn input[type='button']{
	background: linear-gradient(to bottom, #F6E212 0%, #F8C80E 100%) repeat scroll 0 0 transparent;
	border:1px solid #E9AD1B;
	border-radius: 3px;
    padding: 6px 15px;
	cursor:pointer;
}







 .search-bar-box .search-btn input[type='submit']{
	background: linear-gradient(to bottom, #F6E212 0%, #F8C80E 100%) repeat scroll 0 0 transparent;
	border:1px solid #E9AD1B;
	border-radius: 3px;
    padding: 6px 15px;
	cursor:pointer;
}




.search-bar-box .search-btn input[type='button']:hover{
	background: linear-gradient(to bottom, #faeb4c 0%, #fbd12e 100%) repeat scroll 0 0 transparent;
}

.search-catagry-box{
	
}

.search-catagry-box .search-catagry-title{
	color: #FFFFFF;
    font-family: 'Arial';
    font-size: 20px;
	float:left;
	margin-bottom:10px;
}

.search-catagry-box .search-catagry-row{
	width:100%;
	float:left;
	
}

.search-catagry-box .search-catagry-row .search-catagry-col{
	float:left;
	padding:5px;
	margin-right:5px;
	width:30%;
	
}

.search-catagry-box .search-catagry-row .search-catagry-col .search-catagry-col-check-box{
	display:block;
	float:left;
	margin-right: 5px;
}

.search-catagry-box .search-catagry-row .search-catagry-col .search-catagry-col-title{
	color: #fff;
    font-family: 'Calibri';
    font-size: 14px;
	
}

.job-list-margin{
	margin-top:20px !important;
}

.job-post-title{
	float:left;
}

.apply-for-job-btn{
	float:right;
}

.job-list-bold-text{
	color: #545450;
    font-family: 'Arial';
    font-size: 14px;
	font-weight:bold;
}

.job-post-title h3{
	color:#02A3E3 !important;
	font-size:22px !important;
	text-shadow:none !important;
}

.apply-for-job-btn input[type="button"] {
    background: linear-gradient(to bottom, #EDEDED 0%, #D1D1D1 100%) repeat scroll 0 0 transparent;
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    cursor: pointer;
    padding: 6px 15px;
}

.apply-for-job-btn input[type='button']:hover{
	background: linear-gradient(to bottom, #f9f9f9 0%, #dfdfdf 100%) repeat scroll 0 0 transparent;
}

.job-list-pagination{
	float:right;
}

.job-list-pagination ul li{
	 float: left;
	 display:block;
}

.job-list-pagination ul li a{
	color:#039CE0;
	text-decoration:none;
	font-family:'Arial';
	font-size:11px;
	border: 1px solid #CCCCCC;
    display: block;
    margin-right: 3px;
    padding: 3px 6px;
}

.job-list-pagination ul li a:hover{
	background:#2F659B;
	color:#fff;
}

.job-list-pagination ul li a.active{
	background:#2F659B;
	color:#fff;
	text-decoration:none;
	font-family:'Arial';
	font-size:11px;
	border: 1px solid #CCCCCC;
    display: block;
    margin-right: 3px;
    padding: 3px 6px;
}

.pagination-dot-dot{
	padding: 0px 6px;
}
.job-list-search-result{
	float:left;
}

.job-list-search-result select {
    border: 1px solid #CCCCCC;
    color: #999999;
    font-size: 12px;
    font-style: italic;
    padding: 2px;
    width: 130px;
}

.job-list-search-result label{
	color:#898989;
	font-weight:bold;
	font-family:'Arial';
	font-size:14px;
}

.job-list-search-result p.job-list-total-jobs{
	color: #000000;
    font-family: 'Arial';
    font-size: 14px;
    font-weight: 800;
    margin-bottom: 5px;
}

/*********** Popup Box **************/

.popup-background{
	display: block;
	background: none repeat scroll 0 0 #000000;    
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 999;
	opacity:0.5;
}
.popup-box-warpper{
	width:100%;
	position:fixed;
}
.popup-box{
	background: none repeat scroll 0 0 #FFFFFF;
    border: 3px solid #444444;
    display: block;
    height: 520px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    position: relative;
    text-align: left;
    width: 520px;
    z-index: 9999;
}
.popup-heading{
	background: none repeat scroll 0 0 #F4F4F4;
    color: #2D2D2D;
    font-family: 'Arial';
    font-size: 20px;
    padding: 5px;
	border-bottom: 1px solid #D6D6D6;
}
.popup-form{
	padding:40px 0px 40px 15px;
	width:100%;
}
.popup-form-row{
	padding-bottom:10px;
	float: left;
}
.popup-form-text{
	float: left;
    width: 150px;
	color: #151515;
    font-family: 'Calibri';
    font-size: 16px;
	text-align:right;
}
.popup-box-input {
    float: left;
    margin-bottom: 10px;
    margin-left: 10px;	
}
.popup-box-input input[type="text"] {
    border: 1px solid #CCCCCC;
    color: #151515;
    font-family: 'Arial';
    font-size: 15px;
    height: 25px;
    padding-left: 5px;
    width: 205px;
}


table.gridtable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
	width:600px;

.popup-box-input textarea {
    border: 1px solid #CCCCCC;
    height: 120px;
    width: 255px;

}

.popup-box-input select {
    border: 1px solid #CCCCCC;
    color: #999999;
    font-size: 12px;
    font-style: italic;
    height: 30px;
    padding: 5px;
    width: 256px;
}
 .popup-box-input input:focus, textarea:focus, select:focus{
	  
	  box-shadow: 0 0 5px 1px #badbfe;
	  -moz-box-shadow: 0 0 5px 1px #badbfe;
	  -webkit-shadow: 0 0 5px 1px #badbfe;
	  -o-box-shadow: 0 0 5px 1px #badbfe;
	  -ms-box-shadow: 0 0 5px 1px #badbfe;
	  border: 1px solid #93c6fd;
}

.popup-box-input input[type="button"] {
    background: linear-gradient(to bottom, #F6E212 0%, #F8C80E 100%) repeat scroll 0 0 transparent;
    border: 1px solid #E9AD1B;
    border-radius: 3px 3px 3px 3px;
    cursor: pointer;
    padding: 6px 15px;
}
.popup-box-input input[type='button']:hover{
	background: linear-gradient(to bottom, #faeb4c 0%, #fbd12e 100%) repeat scroll 0 0 transparent;
}
  
/************ Job deatail Page *****************/
.job-detail-page{
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #D2D2D2;
    float: left;
    margin-top: 20px;
    padding: 20px 19px 30px;
    width: 100%;
}
.job-detail-page-row-one{
	color: #444444;
    float: left;
    font-family: 'Arial';
    font-size: 14px;
    margin-bottom: 20px;
}
.job-detail-page-row-one-col {
    float: left;
    width: 200px;
}
.job-detail-page-job-heading-box{
	float: left;
    width: 400px;
}
.job-detail-page-apply-btn-box{
	float: right;
    text-align: center;
    width: 180px;
}
.job-detail-page-row-title {
    background: #EAEAEA;
    float: left;
    width: 100%;
	border-radius: 3px 3px 3px 3px;
}
.job-detail-page-row-title-text {
	padding-left:15px;
}
.job-detail-page-row-description {
    float: left;
    margin-top: 10px;
    padding-left: 5px;
    width: 100%;
	color: #262626;
    font-family: arial;
    font-size: 14px;
	margin-bottom: 25px;
}
.job-detail-page-row-one a:link,a:active,a:visited{
    color: #039CE0;
    font-family: 'Arial';
    font-size: 14px;
    text-decoration: none;

}
.job-detail-page-row-one a:hover{
    text-decoration:underline;
}
.job-detail-page-job-heading {
	color: #262626;
    font-family: 'Arial';
    font-size: 25px;
    font-weight: bold;
	padding-bottom: 10px;
}

.job-detail-page-job-price {
    color: #262626;
    font-family: arial;
    font-size: 14px;
	padding-bottom: 15px;
}

.job-detail-page-apply-btn input[type="button"] {
    background: linear-gradient(to bottom, #F6E212 0%, #F8C80E 100%) repeat scroll 0 0 transparent;
    border: 1px solid #E9AD1B;
    border-radius: 3px 3px 3px 3px;
    cursor: pointer;
    padding: 6px 15px;
}
.job-detail-page-apply-btn input[type='button']:hover{
	background: linear-gradient(to bottom, #faeb4c 0%, #fbd12e 100%) repeat scroll 0 0 transparent;
}


.job-detail-page-apply-btn-detail {
    color: #5B5B5B;
    font-family: arial;
    font-size: 14px;
	margin-top: 5px;
}
.job-detail-page-row-title-text {
    color: #4F4F4F;
    font-family: arial;
    font-weight: bold;
    padding: 4px 0 4px 15px;
}

.job-detail-page-skill-required-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 20px;
}

/*********** Popup Box **************/


.popup-background{
	display: block;
	background: none repeat scroll 0 0 #000000;    
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 999;
	opacity:0.5;
}
.popup-box-warpper{
	width:100%;
	position:fixed;
}
.popup-box{
	background: none repeat scroll 0 0 #FFFFFF;
    border: 3px solid #444444;
    display: block;
    height: 470px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    position: relative;
    text-align: left;
    width: 520px;
    z-index: 9999;
}
.popup-heading{
	background: none repeat scroll 0 0 #F4F4F4;
    color: #2D2D2D;
    font-family: 'Arial';
    font-size: 20px;
    padding: 5px;
	border-bottom: 1px solid #D6D6D6;
}
.popup-form{
	padding:30px 0px 30px 15px;
	width:100%;
}
.popup-form-row{
	padding-bottom:10px;
	float: left;
}
.popup-form-text{
	float: left;
    width: 150px;
	color: #151515;
    font-family: 'Calibri';
    font-size: 16px;
	text-align:right;
}
.popup-box-input {
    float: left;
    margin-bottom: 10px;
    margin-left: 10px;	
}
.popup-box-input input[type="text"] {
    border: 1px solid #CCCCCC;
    color: #151515;
    font-family: 'Arial';
    font-size: 15px;
    height: 25px;
    padding-left: 5px;
    width: 205px;
}

.popup-box-input textarea {
    border: 1px solid #CCCCCC;
    height: 120px;
    width: 255px;
}

.popup-box-input select {
    border: 1px solid #CCCCCC;
    color: #999999;
    font-size: 12px;
    font-style: italic;
    height: 30px;
    padding: 5px;
    width: 256px;
}
 .popup-box-input input:focus, textarea:focus, select:focus{
	  
	  box-shadow: 0 0 5px 1px #badbfe;
	  -moz-box-shadow: 0 0 5px 1px #badbfe;
	  -webkit-shadow: 0 0 5px 1px #badbfe;
	  -o-box-shadow: 0 0 5px 1px #badbfe;
	  -ms-box-shadow: 0 0 5px 1px #badbfe;
	  border: 1px solid #93c6fd;
}

.popup-box-input input[type="button"] {
    background: linear-gradient(to bottom, #F6E212 0%, #F8C80E 100%) repeat scroll 0 0 transparent;
    border: 1px solid #E9AD1B;
    border-radius: 3px 3px 3px 3px;
    cursor: pointer;
    padding: 6px 15px;
}
.popup-box-input input[type='button']:hover{
	background: linear-gradient(to bottom, #faeb4c 0%, #fbd12e 100%) repeat scroll 0 0 transparent;
}
  


.job-detail-page-skill-required-detail{
    background: #CCE0FF;
    border-radius: 3px 3px 3px 3px;
    float: left;
    padding: 4px 10px;
	margin-right:3px;
}

.job-detail-page-skill-required-box{
    clear: both;
    float: left;
}


table.job-detail-page-tabel {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
table.job-detail-page-tabel th {
	padding: 5px 15px 5px 0;
	font-size:12px;
	color:#7C7C7C;
	text-align: left;
}
table.job-detail-page-tabel td {
	padding: 8px;
	font-size: 12px;
}

table.job-detail-page-tabel td a{
	text-decoration:none;
	color:#00F;
}
table.job-detail-page-tabel td a:hover{
	text-decoration:underline;
}
.job-detail-page-row-job-description-row {
    border-bottom: 1px solid #EAEAEA;
    float: left;
    margin-top: 10px;
    padding-bottom: 15px;
	margin-bottom: 25px;
}
.job-detail-page-row-job-description-row-col-one {
    float: left;
    width: 400px;
}
.job-detail-page-row-job-description-row-col-two {
    float: right;
    text-align: right;
    width: 190px;
}
.job-detail-page-job-name {
    color: #999999;
    margin-bottom: 10px;
}


.job-detail-page-job-progress {
    font-style: italic;
    margin-bottom: 5px;
}
.job-detail-page-job-contractor {
    font-weight: 600;
}
.job-detail-page-job-contractor a:link, a:visited, a:active{
	text-decoration:none;
	font-weight:normal;
}
.job-detail-page-job-contractor a:hover{
	text-decoration:underline;
}


#success-box{
text-align: center;
color: 
black;
background-color: 
#DBFFC0;
border-bottom: 
#58912E 1px solid;
border-top: 
#58912E 1px solid;
border-right: 
#58912E 1px solid;
border-left: 
#58912E 1px solid;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 11px;
font-weight: bold;
padding: 5px;
margin: 10px auto auto 5px;
width: 98%;
background-image: url('../images/success-message.png');
background-repeat: no-repeat;
background-position: 1% 49%;	

